= t 'books.index.title'
= t "books.index.title"
= t :foo

= t '.title'
= t ".title"

= Table.model_name.human
= Book.model_name.human

= Book.human_attribute_name 'title'
= Book.human_attribute_name "title"
= Book.human_attribute_name('title')
= Book.human_attribute_name("title")
= Book.human_attribute_name :title
= Book.human_attribute_name(:title)

= Table.model_name.human ... Book.model_name.human
= Book.human_attribute_name :title ... Table.human_attribute_name :leg
= Book.human_attribute_name :title ... t 'books.index.title'

= "#{I18n.t '.title', count: 2}"
