= t 'books.index.title'
= t "books.index.title"
= t :foo

= t '.title'
= t ".title"

= Table.model_name.human
= Book.model_name.human

= Book.human_attribute_name 'title'
= Book.human_attribute_name "title"
= Book.human_attribute_name('title')
= Book.human_attribute_name("title")
